# Data Types and Structures Questions

Q1> What are data structures, and why are they important?
######Ans1> Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. Data structures are important because every data structure has a specific format for organizing, processing, retrieving and storing data, allowing data to be manipulated in various ways by users and computer systems.
Q2> Explain the difference between mutable and immutable data types with examples?
######Ans2> Mutable data types : Mutable objects can be changed after creation. We can update, add, or remove elements without creating a new object. Examples : List, Dictionary, Set.
###### Immutable data types : Immutable objects cannot be changed after they’re created. Any operation that tries to alter them results in a new object being created. Examples : String, Tuple, Integer, Float, Boolean.
Q3> What are the main differences between lists and tuples in Python?  
######Ans3> The main differences between lists and tuples in Python are :
###### a) Lists are mutable, meaning their contents can be changed after creation whereas tuples are immutable, so once a tuple is created, its contents cannot be altered.
###### b) Lists use square brackets ([ ]), while tuples use parentheses (( )).
###### c) Tuples are immutable, they are generally faster and more memory-efficient than lists.

Q4> Describe how dictionaries store data?
######Ans4> Dictionaries stores data in key:value pairs.
Q5> Why might you use a set instead of a list in Python?
######Ans5> We might use set instead of list in python :
###### a)Sets automatically eliminate duplicates, while lists allow them.            
###### b)Sets support operations like union, intersection, difference, and symmetric difference.          
###### c)Sets are unordered collections, so if order doesn't matter, sets are a good fit.
Q6> What is a string in Python, and how is it different from a list?
######Ans6> In Python, a string is a sequence of characters, typically used to represent textual data.A string is a sequence of characters between single or double quotes whereas a list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).
Q7> How do tuples ensure data integrity in Python?
######Ans7> Tuples help ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation.
Q8> What is a hash table, and how does it relate to dictionaries in Python?
######Ans8> A hash table is a data structure that allows fast storage and retrieval of key-value pairs using a hash function.In Python, dictionaries are implemented using hash tables. When we create a dictionary, Python uses a hash function to generate a unique hash code for each key. This hash code is then used to determine the index where the key-value pair is stored.
Q9> Can lists contain different data types in Python?
######Ans9> Yes, lists in Python can contain different data types because Python lists are heterogeneous meaning they can hold elements of any type, even mixed types within the same list.
Q10> Explain why strings are immutable in Python?
######Ans10> Strings are immutable as the immutability of strings in Python enhances performance, security, and the overall robustness of the language. While modifying a string creates a new object, this approach provides numerous benefits that make Python more efficient and easier to use.
Q11> What advantages do dictionaries offer over lists for certain tasks?
######Ans11> Advantages dictionaries offer over lists are:
###### a)Accessing a value by its key is very fast.
###### b) Better for representing key-value relationships.
###### c)Dictionaries automatically prevent duplicate keys.            
Q12> Describe a scenario where using a tuple would be preferable over a list?
######Ans12> Tuples would be preferable over list if you want the data in your collection to be read-only, never to change, and always remain the same and constant.
Q13> How do sets handle duplicate values in Python?
######Ans13> The duplicate values in sets are simply ignored and the set remains unchanged.
Q14> How does the “in” keyword work differently for lists and dictionaries?
######Ans14> "in" keyword can be used to test whether certain characters are present in a string or a certain value present in a list and on other hand the "in" keyword for dictionaries checks for the presence of a key.
Q15> Can you modify the elements of a tuple? Explain why or why not?
######Ans15> No, we cannot modify the elements of a tuple after it has been created because tuples are immutable data structures, meaning their items cannot be changed once created.
Q16> What is a nested dictionary, and give an example of its use case?
######Ans16> A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Example of its use case:
###### nested_dict = { 'dictA': {'key_1': 'value_1'},             'dictB': {'key_2': 'value_2'}}
Q17> Describe the time complexity of accessing elements in a dictionary?
######Ans17> Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key.
Q18> In what situations are lists preferred over dictionaries?
######Ans18> Situations where lists preferred over dictionaries are for ordered collections and sequence operations, such as maintaining a stack or queue.
Q19> Why are dictionaries considered unordered, and how does that affect data retrieval?
######Ans19> A dictionary is considered as unordered because it does not maintain any inherent order of the items based on when they were added. It affect data retrieval as there is no guaranteed order for indexing and slicing.
Q20> Explain the difference between a list and a dictionary in terms of data retrieval?
######Ans20> In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key.

#Data Types and Structures Practical Questions

In [1]:
# Q1)Write a code to create a string with your name and print it.
my_string = input("Enter your name:")
print(my_string)

Enter your name:Hariansh
Hariansh

In [2]:
# Q2)Write a code to find the length of the string "Hello World".
my_string = "Hello World"
print(len(my_string))

11

In [3]:
# Q3)Write a code to slice the first 3 characters from the string "Python Programming".
my_string = "Python Programming"
print(my_string[:3])

Pyt

In [4]:
# Q4)Write a code to convert the string "hello" to uppercase.
my_string = "hello"
print(my_string.upper())

HELLO

In [2]:
# Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string = "I like apple"
print(my_string.replace("apple","orange"))

I like orange

In [1]:
# Q6)Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [3]:
# Q7)Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [4]:
# Q8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [5]:
# Q9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [1]:
# Q10)Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [4]:
# Q11)Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [5]:
# Q12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red','geen','blue','yellow')
print(my_tuple[1:])

('geen', 'blue', 'yellow')

In [7]:
# Q13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

In [8]:
# Q14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [12]:
# Q15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'kiwi', 'orange')
print("kiwi" in my_tuple)

True

In [15]:
# Q16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

In [16]:
# Q17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [17]:
# Q18)Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [18]:
# Q19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [19]:
# Q20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [23]:
# Q21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name':'','age':'','city':''}
print(my_dict)

{'name': '', 'age': '', 'city': ''}

In [24]:
# Q22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# Q23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [26]:
# Q24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# Q25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [28]:
# Q26)Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {'name':'','age':'','city':''}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': '', 'age': '', 'city': ''}

In [ ]:
# Q27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print(random_list)

In [30]:
# Q28)Write a code to create a list with strings and print the element at the third index.
my_list = ['apple','b','cat','d','egg']
print(my_list[2])

cat

In [36]:
# Q29)Write a code to combine two dictionaries into one and print the result.
my_dict_1 = {'a': 1, 'b': 2}
my_dict_2 = {'c': 3, 'd': 4}

combined_dict = {**my_dict_1, **my_dict_2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:
# Q30)Write a code to convert a list of strings into a set.
my_list = ['apple','b','cat','d','egg']
print(set(my_list))

{'d', 'apple', 'cat', 'b', 'egg'}